<!DOCTYPE html>
<html>
  <head>
    <title>Assign1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  </head>

  <header>
    <nav>
      <ul>
        <li><%= link_to "Prefixes", prefixes_path %></li>
        <li><%= link_to "Courses", courses_path %></li>
        <li><%= link_to "Semesters", semesters_path %></li>
        <li><%= link_to "Sections", sections_path %></li>
        <li><%= link_to "Students", students_path %></li>
      </ul>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
